{
  "htmlWhitespaceSensitivity": "ignore",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "insertPragma": false,

        "singleAttributePerLine": false,
        "htmlWhitespaceSensitivity": "ignore",
        "printWidth": 50
      }
    }
  ]
}
